.ui-body {
    max-height: 800px;
    max-width: 491px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#usageStatement {
    margin-left: 8%;
    margin-right: 3%;
    border: 1px black solid;
}
img {
    float: left;
}

a {
    text-decoration: none;
}

.img-container {
    position: relative;
    padding-bottom: 70%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
