.ui-body {
    /* max-height: 100vh;
    max-width: 491px; */
    /* max-height: 100vh;
    max-width:90vw; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.ui-content {
    padding: 0 1em;
}

#usageStatement {
    margin-left: 8%;
    margin-right: 3%;
    border: 1px black solid;
}
img {
    float: left;
}

a {
    text-decoration: none;
}

.userBtns {
    position: relative;
    width: 96%;
    margin: auto;
}
.responsiveImage {
    margin-top: 5vh;
    margin-bottom: 2%;
    /* width: 100%;
    height: auto; */
    max-height: 100%;
    max-width: 100%;
}

div#viewComics table {
    background-color: #ffffe6;
    margin: auto;
    width: 100%;
    border: 2px solid #5e778d;
    border-radius: 0.3125em;
    word-wrap: break-word;
    text-align: center;
    table-layout: fixed;
}

s div#viewComics table tr td {
    border-bottom: #5e778d 1px solid;
    border-right: #5e778d 1px solid;
    border-radius: 0.3125em;
}

div#viewComics table tr:nth-child(odd) {
    background-color: #1861a6;
    color: #ffffe6;
    text-align: center;
}

div#viewComics table th {
    background-color: #5c94c1;
    border-radius: 0.3125em;
    color: black;
    font-size: 0.9em;
}

.btnShowComicInfo:active {
    background-color: red;
}
/* 
#pgViewTable td:nth-child(5) {
    display: none;
}

#pgViewTable th:nth-child(5) {
    display: none;
}
 */
