#wrapper {
    margin-left: 25%;
    width: 50%;
    align-items: center;
}

.ui-body {
    max-height: 700px;
    max-width: 491px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#usageStatement {
    margin-left: 8%;
    margin-right: 3%;
    border: 1px black solid;
}
img {
    float: left;
}

a {
    text-decoration: none;
}

	/*Testing alternative ICON  */
.ui-icon-myicon:after {
    background-image: url("../images/icons/21-skull-icon.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}